.cardView_mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--card-View-normal);
    width: 80px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 5px;
    user-select: none;
    border-radius: 8px;
}

.cardView_disabled{
    pointer-events: none;
}

.cardView_discovered{
    pointer-events: none;
    background-color: var(--card-View-dicovered);
}