:root {
    --primary-color: #2c2c54;
    --secondary-color: rgb(209, 25, 74);
    --background-color: rgb(252, 244, 244);
    --card-View-normal: #8e5bb3;
    --card-View-dicovered: #dba8ec;
}

* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: var(--primary-color)
}

h2 {
    color: var(--secondary-color)
}

input {
    outline: none;
}

button {
    min-height: 36px;
    min-width: 60px;
    border-style: none;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    outline: none;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

.appcontainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}