.viewController {}

.viewController_mainContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.navigationBar {
    background-color: var(--secondary-color);
    width: 100%;
    height: 60px;
}

.contenContainer {
    background-color: var(--background-color);
    width: 100%;
    height: calc(100% - 60px);
}

.viewController_titleLbl {
    color: white;
    font-size: 30px;
    font-weight: bold;

}